@import "tailwindcss";

@import "@fontsource/baloo-2";
@import "@fontsource/anton";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-shrink {
  animation: shrink linear forwards;
}
